{% extends "layout.twig" %}
{% block content %}

<h1>Dashboard</h1>
<ul>
    <li><a href="User/add">Add User</a></li>
    <li><a href="Job/add">Add Job</a></li>
    <li><a href="Project/add">Add Project</a></li>
</ul>

<br>
<br>

<a href="logout">logout</a>


{% endblock %}